<div class="div-block-9 <%== @mobile %>">
  <h4 class="heading-24"><%== @name.upcase %></h4>
    <img
      class="image-4"
      loading="lazy"
      src="images/textures/<%== @formatted_name %>.png"
      srcset="
        images/textures/<%== @formatted_name %>.png 676w
        images/textures/<%== @formatted_name %>-p-500.png 500w
        images/textures/<%== @formatted_name %>-p-130x130q80.png 130w"
      sizes="
        (max-width: 479px) 100vw,
        (max-width: 767px) 33vw,
        (max-width: 991px) 160px, 234px"
      alt="<%== @formatted_name %>"
    >
</div>