<section id="cards-section" class="servicesection wf-section">
  <div class="centered-container sectionmobileadjustment w-container">
    <h2 class="stuccoservicesheadline"><%== @headline %></h2>
    <br>
    <h3 class="heading-10"><%== @sub_headline %></h3>
  <% 3.times do %>
    <section class="section1">
    <% 2.times do |i| %>
    <% headline = @service_headlines.shift %>
    <% alt_tag = @img_tags.shift %>
    <% next if headline.nil? %>
      <section class="div-block-3">
        <div class="cards-image-mask">
          <img src="images/services/<%== format_image(headline) %>.jpg" alt="<%== alt_tag %>" class="cards-image">
        </div>
        <h3 class="heading-36"><%== headline %></h3>
      <% to_p(@services[i]) do |paragraph| %>
        <p class="paragraph-6"><%== paragraph %></p>
      <% end %>
        <div class="servicebuttonwrapper">
          <a href="/<%== to_harbor_stucco_path(headline) %>" target="_blank" class="button w-button">Learn More</a>
        </div>
      </section>
    <% end %>
    </section>
  <% end %>
  </div>
</section>