<header id="hero-overlay" class="hero-overlay tablet mobile wf-section">
  <%== display_hero_section() %>
</header>
<main>
<%== display_subhero_section() %>
<%== display_reviews_section() %>
<%== display_services_section() %>
<%== display_cta() %>
<%== display_faq_section() %>
<%== display_texture_section() %>
<%== display_cta2_section() %>
</main>
